.inputBoxPair{
  display: flex;
}

// フォーム
.inputBox{
  padding: 15px;
  .upper{
    display: flex;
    margin-bottom: 5px;
    .inputname{
      font-weight: bold;
    }
    .required{
      color: #ffffff;
      background-color: #ff0000;
      margin-left: 12px;
    }
    .option{
      color: #ffffff;
      background-color: #bfbfbf;
      margin-left: 12px;
    }
  }
  .input_area{
    padding: 0 5px 0;
  }
}

// ヘッダーの固定
.share_header{
  width: 100%;
  position: fixed;
}

// userアイコン
.userIcon{
  display: flex;
  color: #ffffff;
  line-height: 40px;
  &__photo{
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
}

// ボタン
.btn_common{
  display: inline-block;
  height: 30px;
  padding: 2px 10px 2px;
  line-height: 25px;
  border: solid 2px #ccccff;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
}

// ラベル
.l_label{
  font-weight: bold;
  font-size: 20px;
}
.m_label{
  font-weight: bold;
  font-size: 15px;
}

// 良いね
.nice{
  height:20px;
}