.inputBoxPair{
  display: flex;
}

// フォーム
.inputBox{
  padding: 15px;
  .upper{
    display: flex;
    margin-bottom: 5px;
    .inputname{
      font-weight: bold;
    }
    .required{
      color: #ffffff;
      background-color: #ff0000;
      margin-left: 12px;
    }
    .option{
      color: #ffffff;
      background-color: #bfbfbf;
      margin-left: 12px;
    }
  }
  .input_area{
    padding: 0 5px 0;
  }
}


// userアイコン
.userIcon{
  display: flex;
  color: #000000;
  line-height: 40px;
  padding: 10px 0 0 10px;
  &__photo{
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
}

// ボタン
.btn_common{
  font-size: 14px;
  display: inline-block;
  height: 25px;
  padding: 2px 7px 2px;
  line-height: 20px;
  border: solid 2px #ccccff;
  background-color: #ffffff;
  color: #000001;
  border-radius: 3px;
}

// ラベル
.l_label{
  font-weight: bold;
  font-size: 20px;
}
.m_label{
  font-weight: bold;
  font-size: 15px;
}

// 良いね
.nice{
  height:20px;
}


// ログ
.logBox__previews{
  &__diving_map{
    width:600px;
  }
  &__imgsContainer{
    display: flex;
    overflow: auto;
    padding: 0 10px 0;
    &__img{
      height:70px;
      margin-right:5px;
    }
  }
}
