.share_header{
  background-color: #0000ff;
  width: 100%;
  position: fixed;
  z-index: 3;
  .upper{
    padding-top: 5px;
    text-align: center;
    &__title{
      color: #ffffff;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;

    }
  }
  .lower{
    padding-bottom: 5px;
    justify-content: space-between;
    display: flex;
    .btn_common{
      margin-right:20px;
    }
    &__left{
      position: relative;
      left: 100px;
      display: flex;
      line-height: 40px;
      .userIcon{
        padding: 0 20px 0;
        color: #ffffff;
      }
    }
    &__right{
      position: relative;
      right: 100px;
    }
  }
}