.logsshowWrap{
  background-color: #e0fff3;
  .main{
    padding: 100px 0 0 275px;;
    .divingInfo{
      font-size:13px;
      position: fixed;
      left: 15px;
      padding: 15px;
      width:250px;
      height: 100%;
      background-color: #ffffff;
      .userIcon{
        color: #000000;
      }
      .logInfo__living_things{
        background-color: #cceeff;
      }
      td{
        width: 60px;
        text-align: center;
      }
    }
    .logBox{
      width: 700px;
      padding: 15px 0 20px;
      background-color: #ffffff;
      text-align: center;
      &__previews{
        &__diving_map{
          height: 400px;
        }
        &__imgsContainer{
          margin: 10px 50px 0;
          &__img_s{
            height: 70px;
          }
        }
      }
      .description{
        margin: 10px 50px 0;
        background-color: #cceeff;
        border-radius: 5px;
      }
      .visitor{
        
        &__comment{
          width: 600px;
        }
      }
    }
  }
  .footer{
    height: 50px;
  }

}