.logsshowWrap{
  background-color: #e0fff3;
  .main{
    width: calc(100% - 250px);
    padding: 100px 0 150px 275px;;
    .divingInfo{
      font-size:13px;
      position: fixed;
      left: 15px;
      padding: 15px;
      width:250px;
      height: 60%;
      background-color: #ffffff;
      &__detail{
        padding: 10px 0 0;
      }
      &__living_things{
        padding-top: 15px;
        &__s{
          background-color: #cceeff;
        }
      }
      &__equipment{
        padding-top: 15px;
      }
      td{
        width: 60px;
        text-align: center;
      }
    }
    .logBox__info{
      padding-top: 10px;
      &__no{
        padding: 0 40px;
        font-size: 20px;
        font-weight: bold;
      }
      &__point{
        padding: 0;
        line-height: 30px;
      }
    }
    .logContainer{

    }
  }
}