.usersshowWrap{
  background-color: #e0fff3;
  .main{
    width: calc(100% - 250px);
    padding: 100px 0 150px 275px;;
    .userInfo{
      position: fixed;
      left: 15px;
      padding: 0 20px;
      width:250px;
      height: 60%;
      background-color: #ffffff;

      .comment{
        margin: 10px 0 20px;
        background-color: #cceeff;
        border-radius: 5px;
        padding: 5px;
      }
      }
    .logContainer{
      width: 600px;
      .logBox__info{
        padding-top:10px;
        &__s{
          line-height: 20px;
        }
        &__point{
          line-height: 20px;
        }
      }
    }
  }
}