.userRegistrationWrap{
  background-color: #a0fff3;
  .main{
    padding: 120px 0 40px;
    width: 700px;
    margin: auto;
    .smallWrap{
      display: flex;
    
      .preview{
        width: 200px;
        #photo_uploader{
          display: none;
        }
        &__icon{
          height: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}