.usersshowWrap{
  background-color: #a0fff3;
  .main{
    padding: 100px 0 30px 275px;;
    .userInfo{
      position: fixed;
      left: 15px;
      padding: 20px;
      width:250px;
      height: 100%;
      background-color: #ffffff;
      border-right: solid 5px #a0fff3;
      .comment{
        margin: 10px 0 20px;
        background-color: #cceeff;
        border-radius: 5px;
        padding: 5px;
      }
      }
    .logs{
      width: 650px;
    }
  }
}